

// backup for older browsers
@import url('https://fonts.googleapis.com/css?family=Roboto');

// $navbar-color : #FFFFFF;
// $lightgreen: #5ca772;
// $lightgrey: #c9c9c9;

// $redo-teal: #5cc3bc;
$redo-green: #c7d967;
// $redo-orange: #ef8c31;

$break-small: 600px;

$redo-red: #c54b59;
$redo-pink: #ff7bac;
$background-tan: #f9f5f1;
$greyout: #ababab;
$content-black: #6b6b6b;

// p tagtext
@font-face {
    font-family: Avenir-Medium;
    src: url("../fonts/avenir-medium.tff") format("truetype");
}
// navbar links
@font-face {
    font-family: Avenir-Heavy;
    src: url("../fonts/avenir-heavy.ttf") format("truetype");
}

// kid looking headers
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');


// GLOBAL CSS STYLING
body{
  background-color: $background-tan;
  p{
    color: $content-black;
    // default font fam
    font-family: "Avenir-Medium", "Roboto";
  }
  b{
    font-family: "Avenir-Medium", "Roboto";
  }
  h1,h2,h3,h4{
    font-family: 'Nanum Pen Script', cursive;
  }
}

// MIXINS
%center-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#navbar{
  font-family: "Avenir-Heavy", "Roboto";
  margin: 2% 2%;
  .redo-logo{
    height: 4rem;
    width: 8rem;
    margin-left: 1rem;
    opacity: 1;
    transition: .5s;
  }
  .redo-logo:hover{
    opacity: .8;
  }
  .links{
    li{
      display: inline;
      padding:0 30px;
      font-size: 1.2rem;
      opacity: 1;
      transition: .5s;
      // active tags for current page
      .active{
        color: $content-black
      }
      // other links this color
      a{
        color: $greyout;
      }
    }
    li:hover{
      opacity: .6;
    }
  }
}

#footer{
  background-color: $redo-green;
  color: $content-black;
  margin-top: 5rem;
}

// all index page styling
#index{
  .shadow {
    img {
      @extend %center-image;
      width: 28rem;
      height: 25rem;
      // change size of elephant on small screens
      @media only screen and (max-width: $break-small) {
        width: 15rem;
        height: 12rem;
      }
    }
  }
  h1{
    color: $redo-pink;
  }
}

// compost page
#compost{
  .shadow{
    img{
      @extend %center-image;
    }
    .house{
      width: 15rem;
      height: 15rem;
    }
    .compost-info{
      width: 30rem;
      height: 25rem;
      @media only screen and (max-width: $break-small) {
        width: 20rem;
        height: 15rem;
      }
    }
    .compost-info2{
      width: 50rem;
      height: 30rem;
      @media only screen and (max-width: $break-small) {
        width: 20rem;
        height: 15rem;
      }
    }
  }
  h1{
    color: $redo-pink;
  }
  span{
    font-weight: bolder;
  }
}
// infographic page
#infographic{
  img{
    width: 20rem;
    height: 20rem;
  }
  img.arrow{
    width: 10rem;
    height: 10rem;
    margin-left: 5rem;
  }
  h3{
    color: $redo-red;
  }
}

// education or worksheets page
#education{
  .container{
    text-align: center;
    margin-top: 3rem;
  }
  img{
    width: 15rem;
    height: 15rem;
  }
  h1{
    color: $redo-pink
  }
  .fertilizer{
    margin: 2rem 0;
  }
}

// contact page
#contact{
  .lead{
    .lead-img{
      height: 20rem;
      width: 20rem;
    }
    h1{
      color: $redo-pink;
      font-size: 5rem;
      margin: 10px;
    }
  }
  .member{
    text-align: center;
    .member-img{
      height: 15rem;
      width: 15rem;
    }
    margin: 2rem 0;
  }
  .grid{
    margin-top: 5rem;
  }
  p{
    margin:2px 0;
  }
  .contact{
    margin-top: 1rem;
  }

}
