

// backup for older browsers
@import url('https://fonts.googleapis.com/css?family=Roboto');

// $navbar-color : #FFFFFF;
// $lightgreen: #5ca772;
// $lightgrey: #c9c9c9;

// $redo-teal: #5cc3bc;
$redo-green: #c7d967;
// $redo-orange: #ef8c31;

$break-small: 600px;

$redo-red: #c54b59;
$redo-pink: #ff7bac;
$background-tan: #f9f5f1;
$greyout: #ababab;
$content-black: #6b6b6b;

// p tagtext, not working for some reason? Don't need to worry about it tho
// @font-face {
//     font-family: Avenir-Medium;
//     src: url("../fonts/avenir-medium.tff") format("truetype");
// }

// navbar links
@font-face {
    font-family: Avenir-Heavy;
    src: url("../fonts/avenir-heavy.ttf") format("truetype");
}

// kid looking headers
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');


// GLOBAL CSS STYLING
body{
  background-color: $background-tan;
  p{
    color: $content-black;
    // default font fam
    font-family: "Avenir-Medium", "Roboto";
  }
  b{
    font-family: "Avenir-Medium", "Roboto";
  }
  h1,h2,h3,h4{
    font-family: 'Nanum Pen Script', cursive;
  }
}

// MIXINS
%center-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}





.nav-controller{
  box-shadow: none;
  background-color: $background-tan;
  font-family: "Avenir-Heavy", "Roboto";
  margin: 2% 2%;
  .redo-logo{
    height: 4rem;
    width: 8rem;
    margin-left: 1rem;
    opacity: 1;
    transition: .5s;
  }
  .redo-logo:hover{
    opacity: .8;
  }
  .dropdown-links{
    color:$redo-red;
  }

  .links{
    margin-right: 2%;

    .top-links{
      display: inline;
      padding:0 30px;
      font-size: 1.2rem;
      opacity: 1;
      transition: .5s;
      // active tags for current page
      .active{
        color: $content-black
      }

      &:hover{
          opacity: .6;
      }
    }
  }
}
.black-links{
  color:$greyout;
}

//global footer
#footer{
  background-color: white;
  color: $content-black;
  margin-top: 5rem;
  text-align: center;
  .icon{
    width: 30px;
    height: 30px;
  }
}


// index page styling
#index-page{
  h1{
    color: $redo-pink;
  }
  .shadow {
    img {
      @extend %center-image;
      width: 28rem;
      height: 25rem;
      // change size of elephant on small screens
      @media only screen and (max-width: $break-small) {
        width: 15rem;
        height: 12rem;
      }
    }
  }
}


// infographic page
#infographic-page{
  .ele{
    img{
      width: 20rem;
      height: 20rem;
    }
    img.arrow{
      width: 10rem;
      height: 10rem;
      margin-left: 5rem;
    }
  }

  h3{
    color: $redo-red;
  }
}

// products
#products-page{
  h1{
    color: $redo-pink
  }
  .container{
    text-align: center;
    margin-top: 3rem;
  }
  .product{
    margin: 2rem 0;
    img{
      width: 15rem;
      height: 15rem;
    }
  }
}

// contact page
#contact-page{
  p{
    margin:2px 0;
  }
  // not used anymore
  // .lead{
  //   .lead-img{
  //     height: 20rem;
  //     width: 20rem;
  //   }
  //
  // }

  h1{
    color: $redo-pink;
    font-size: 5rem;
    margin: 10px;
  }
  h3{
    color: $redo-pink;
  }
  .member{
    text-align: center;
    .member-img{
      height: 15rem;
      width: 15rem;
    }
    margin: 2rem 0;
  }
  .grid{
    margin-top: 5rem;
  }
  .contact{
    margin-top: 1rem;
  }

}


#whatiscompost-page{
  .carousel-slider{
    padding: 30%;
    @media only screen and (max-width: $break-small) {
      padding: 10% 0;
    }

  }
  .carousel-item{
    height: 600px;
    width: 600px;
    @media only screen and (max-width: $break-small) {
      height: 200px;
      width: 200px;
    }
  }
}

// for all the poster pages
.poster{
  .shadow {
    img {
      @extend %center-image;
      width: 80%;
      height: 100%;
      // change size of elephant on small screens
      @media only screen and (max-width: $break-small) {
        width: 100%;
        height: 100%;
      }
    }
  }
}
